<div class="container bodyCard">
  <div class="card">
    <div class="card-body">
      <div class="card-header">
        <img src="n" alt="logo">
      </div>
      <form [formGroup]="loginForm">
        <div class="col">
          <label for="FormControlInput8" class="form-label">Usuario</label>
          <input
            type="text"
            class="form-control borderRadius"
            placeholder="Carlos3"
            formControlName="userPlataform"
          />
        </div>
        <div class="col">
          <label for="FormControlInput8" class="form-label">Clave</label>
          <input
            type="password"
            class="form-control borderRadius"
            placeholder="******"
            formControlName="password"
          />
        </div>
          <div class="col d-grid gap-2">
            <button
              type="button"
              class="btn btn-primary borderRadius button colorPrimary"
              (click)="onSubmit()"
            >
              Continuar
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
