<div class="bodyCard">
  <div class="card">
    <div class="card-body">
      <div class="headerCard">
        <div class="start">
          <h5>
            Modulo Editar - Reporte de inscripciones Club Olimpus.
          </h5>
        </div>
        <div class="end">
          <button
            type="button"
            class="btn btn-success borderRadius button"
            (click)="exportExcel()"
          >
            <i class="bi bi-file-earmark-spreadsheet"></i> Exportar a Excel
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="col">
    <input
      type="text"
      class="form-control borderRadius"
      [(ngModel)]="filter"
      placeholder="Búsqueda..."
      (ngModelChange)="hanldeFilter()"
    />
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table" id="tblInscriptions">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Carrera</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Forma de Pago</th>
            <th scope="col">Código asignado</th>
            <th scope="col">Comprobante Pago</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of newReportData; index as i" class="mouseEvent">
            <th scope="row" (click)="dataClient(item)">
              {{ this.indexPag[i] + 1 }}
            </th>
            <td (click)="dataClient(item)">
              {{ item.firstName }} {{ item.lastName }}
            </td>
            <td (click)="dataClient(item)">{{ item.documentNumber }}</td>
            <td (click)="dataClient(item)">{{ item.phone }}</td>
            <td (click)="dataClient(item)">
              {{ item.race }} {{ item.category }}
            </td>
            <td (click)="dataClient(item)">
              {{ item.registrationDate | date : "d/M/yy, h:mm a" }}
            </td>
            <td (click)="dataClient(item)">{{ item.paymentMethod }}</td>
            <td (click)="dataClient(item)">{{ item.detailsPayment }}</td>
            <td (click)="dataClient(item)">{{ item.proofPayment }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="paginator">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <ng-container *ngIf="numberPagShow[0] !== 1">
          <li class="page-item">
            <a class="page-link" (click)="handlePaginator(1)"> < 1 </a>
          </li>
        </ng-container>
        <li [ngClass]="pagNumber == 0 ? 'page-item disabled' : 'page-item'">
          <a class="page-link" (click)="handlePaginator(pagNumber - 1)"
            >Anterior</a
          >
        </li>
        <li *ngFor="let item of numberPagShow">
          <a class="page-link" (click)="handlePaginator(item)">{{ item }}</a>
        </li>
        <li
          [ngClass]="
            totalPagNumber === pagNumber + 1
              ? 'page-item disabled'
              : 'page-item'
          "
        >
          <a class="page-link" (click)="handlePaginator(pagNumber + 1)"
            >Siguiente</a
          >
        </li>
        <ng-container *ngIf="totalPagNumber > 10 && numberPagShow[9] !== totalPagNumber - 1">
        <li class="page-item">
          <a class="page-link" (click)="handlePaginator(totalPagNumber - 1)"
              >{{totalPagNumber - 1}} >  </a
            >
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</div>

<!-- Tabla oculta para exportar a excel -->
<table hidden class="table" id="tblExportInscriptions">
  <thead>
    <tr>
      <th scope="col">Fecha Inscription</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Numero Documento</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Sexo</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Edad</th>
      <th scope="col">Tipo Sangre</th>
      <th scope="col">Correo</th>
      <th scope="col">Celular</th>
      <th scope="col">Direccion</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Pais</th>
      <th scope="col">Aerolinea Ciudad Origen</th>
      <th scope="col">Fecha Ida</th>
      <th scope="col">Fecha Regreso</th>
      <th scope="col">Forma Pago</th>
      <th scope="col">Código asignado</th>
      <th scope="col">Comprobante Pago</th>
      <th scope="col">Talla Camiseta</th>
      <th scope="col">Autorizacion Lista inscritos</th>
      <th scope="col">Club</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Nombre Contacto</th>
      <th scope="col">Celular Contacto</th>
      <th scope="col">Carrera</th>
      <th scope="col">Distancia</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of reportInscriptionData">
      <td>{{ item.registrationDate | date : "d/M/yy, h:mm a" }}</td>
      <td>{{ item.documentType }}</td>
      <td>{{ item.documentNumber }}</td>
      <td>{{ item.firstName }}</td>
      <td>{{ item.lastName }}</td>
      <td>{{ item.gender }}</td>
      <td>{{ item.birthDate | date : "d/M/yy" }}</td>
      <td>{{ item.age }}</td>
      <td>{{ item.bloodType }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.city }}</td>
      <td>{{ item.country }}</td>
      <td>{{ item.airlineCityOrigin }}</td>
      <td>{{ item.departureDate | date : "d/M/yy" }}</td>
      <td>{{ item.returnDate | date : "d/M/yy" }}</td>
      <td>{{ item.paymentMethod }}</td>
      <td>{{ item.detailsPayment }}</td>
      <td>{{ item.proofPayment }}</td>
      <td>{{ item.tshirtSize }}</td>
      <td>{{ item.authorizationListEnrolled ? "Si" : "No" }}</td>
      <td>{{ item.club }}</td>
      <td>{{ item.observations }}</td>
      <td>{{ item.emergencyContactName }}</td>
      <td>{{ item.emergencyContactPhone }}</td>
      <td>{{ item.race }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.categoryRace }}</td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="modalReport"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Editar
          {{ vistas[1] ? "corredor" : "" }}
          {{ vistas[2] ? "carrera" : "" }}
        </h1>
        <button
          (click)="hanldeNULLDataForm()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="vistas[0]">
          <div class="container">
            <div class="row">
              <div class="col d-grid gap-2">
                <button
                  class="btn btn-primary"
                  (click)="handleModalType('Runner')"
                >
                  <i class="bi bi-person-fill"></i>
                  Corredor
                </button>
              </div>
              <div class="col d-grid gap-2">
                <button
                  class="btn btn-primary"
                  (click)="handleModalType('Race')"
                >
                  <i class="bi bi-speedometer2"></i>
                  Carrera
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="vistas[1]">
          <app-form-report></app-form-report>
        </ng-container>
        <ng-container *ngIf="vistas[2]">
          <app-form-runner></app-form-runner>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="hanldeNULLDataForm()"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <!-- <button type="button" class="btn btn-success">
          Actualizar
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- End Modal -->
