<div class="bodyCard">
  <div class="card">
    <div class="card-body">
      <div class="headerCard">
        <div class="start">
          <h5>Reporte de inscripciones Asociacion De Atletismo Master Club Olimpus</h5>
        </div>
        <div class="end">
          <button type="button" class="btn btn-success borderRadius button" (click)="exportExcel()">
            <i class="bi bi-file-earmark-spreadsheet"></i> Exportar a Excel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table" id="tblInscriptions">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Carrera</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Froma de  Pago</th>
            <th scope="col">Código asignado</th>
            <th scope="col">Comprobante Pago</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of newReportData; index as i">
            <th scope="row">{{this.indexPag[i] + 1}}</th>
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>{{item.documentNumber}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.race}} {{item.category}}</td>
            <td>{{item.registrationDate | date : "d/M/yy, h:mm a"}}</td>
            <td>{{item.paymentMethod}}</td>
            <td>{{item.detailsPayment}}</td>
            <td>{{item.proofPayment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="paginator">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li [ngClass]="pagNumber == 0 ? 'page-item disabled' : 'page-item'">
          <a class="page-link" (click)="handlePaginator(pagNumber - 1)">Previous</a>
        </li>
        <li *ngFor="let item of [].constructor(getNumberPages()); let i = index">
          <a class="page-link" (click)="handlePaginator(i)">{{i + 1}}</a>
        </li>
        <li [ngClass]="getNumberPages() === pagNumber + 1 ? 'page-item disabled' : 'page-item'">
          <a class="page-link" (click)="handlePaginator(pagNumber + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>




<!-- Tabla oculta para exportar a excel -->
<table hidden class="table" id="tblExportInscriptions">
  <thead>
    <tr>
      <th scope="col">Fecha Inscription</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Numero Documento</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Sexo</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Edad</th>
      <th scope="col">Tipo Sangre</th>
      <th scope="col">Correo</th>
      <th scope="col">Celular</th>
      <th scope="col">Direccion</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Pais</th>
      <th scope="col">Aerolinea Ciudad Origen</th>
      <th scope="col">Fecha Ida</th>
      <th scope="col">Fecha Regreso</th>
      <th scope="col">Forma Pago</th>
      <th scope="col">Código asignado</th>
      <th scope="col">Comprobante Pago</th>
      <th scope="col">Talla Camiseta</th>
      <th scope="col">Autorizacion Lista inscritos</th>
      <th scope="col">Club</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Nombre Contacto</th>
      <th scope="col">Celular Contacto</th>
      <th scope="col">Carrera</th>
      <th scope="col">Distancia</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of reportInscriptionData">
      <td>{{item.registrationDate | date : "d/M/yy, h:mm a"}}</td>
      <td>{{item.documentType}}</td>
      <td>{{item.documentNumber}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.birthDate | date : "d/M/yy"}}</td>
      <td>{{item.age}}</td>
      <td>{{item.bloodType}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.address}}</td>
      <td>{{item.city}}</td>
      <td>{{item.country}}</td>
      <td>{{item.airlineCityOrigin}}</td>
      <td>{{item.departureDate | date : "d/M/yy"}}</td>
      <td>{{item.returnDate | date : "d/M/yy"}}</td>
      <td>{{item.paymentMethod}}</td>
      <td>{{item.detailsPayment}}</td>
      <td>{{item.proofPayment}}</td>
      <td>{{item.tshirtSize}}</td>
      <td>{{item.authorizationListEnrolled ? 'Si' : 'No'}}</td>
      <td>{{item.club}}</td>
      <td>{{item.observations}}</td>
      <td>{{item.emergencyContactName}}</td>
      <td>{{item.emergencyContactPhone}}</td>
      <td>{{item.race}}</td>
      <td>{{item.category}}</td>
      <td>{{item.categoryRace}}</td>
    </tr>
  </tbody>
</table>