.noData {
    font-size: 1.2em;
    text-align: center;
}

.headerCard {
    display: flex;
    justify-content: space-between;
    
    & .start {
        padding-top: 8px;
    }
}

.paginator {
 margin-top: 10px;
}